---
import Layout from '@/layouts/Layout.astro';
import RadioInterface from '@/components/RadioInterface';
---

<Layout title="rigboss - Ham Radio Control">
  <main class="h-full">
    <RadioInterface client:load />
  </main>
</Layout>
